@using TestTask.Models
@model Files
<div class="d-flex flex-column">
	<div>
		<i class="bi bi-caret-right" id="RootElement" key="@Model.Hash"></i>
        <span>@Model.Name (@Model.Weight МБ)</span>
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" id="StartAddFolder" data-bs-target="#AddFolder"><i class="bi bi-folder-plus"></i></button>
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" id="StartAddFile" data-bs-target="#AddFile"><i class="bi bi-file-earmark-plus"></i></button>
    </div>
</div>

<div class="modal fade" id="AddFolder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddFolderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddFolderLabel">Создание папки</h5>
            </div>
            <div class="modal-body">
                Введите название папки
                <input type="text" class="form-control" id="FolderNameInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="CreateFolderButton">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddFile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddFileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddFileLabel">Создание файла</h5>
            </div>
            <div class="modal-body">
                Введите название файла
                <input type="text" class="form-control" id="FileNameInput">
                Укажите размер файла
                <input type="number" placeholder="МБ" min="1" class="form-control" id="FileWeightInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="CreateFileButton">Создать</button>
            </div>
        </div>
    </div>
</div>

<script src="js/Index.js"></script>
