@using TestTask.Models
@model Files
<div class="d-flex flex-column">
	<div>
		<i class="bi bi-caret-right" id="RootElement" key="@Model.Hash"></i>
		@Model.Name @Model.Weight МБ
	</div>
</div>

<div class="modal fade" id="AddFolder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddFolderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddFolderLabel">Создание папки</h5>
            </div>
            <div class="modal-body">
                Введите название папки
                <input type="text" class="form-control" id="FolderNameInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="CreateFolderButton">Создать</button>
            </div>
        </div>
    </div>
</div>

<script src="js/Index.js"></script>
